/**
 * @file
 *
 * Custom styles for node type categories list.
 *
 */

ul.admin-category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.admin-category-list .category-details summary.category-header {
  border-bottom: 1px solid #ccc;
}
.admin-category-list .category-details[open] summary.category-header {
  border-bottom: none;
}
