.welcome-container .col {
  margin-bottom: 20px;
}

@media only screen and (min-width: 640px) {
  .welcome-container .col {
    box-sizing: border-box;
    float: left;
  }

  .welcome-left {
    width: 66%;
    border-right: 10px solid transparent;
  }

  .welcome-right {
    width: 33%;
    border-left: 10px solid transparent;
  }
}


.welcome-container details {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #fcfcfa;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  line-height: 1.295em;
  overflow: scroll;
}

.welcome-container details summary {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.95em 1.45em;
  cursor: pointer;
  text-shadow: 0 1px 0 white;
  color: #0074bd;
}

.welcome-container details .details-wrapper {
  padding: 0 1.5em 1em 1.5em;
}

.welcome-container details[open] > summary {
  color: #004f80;
}

