.welcome-container {
  background-color: white;
}

.welcome-container .welcome-box {
  padding: 10px;
  margin-bottom: 20px;
}

.welcome-container .col {
  margin-bottom: 20px;
}

.welcome-left .welcome-box {
  background-color: lightblue;
}

.welcome-right .welcome-box {
  background-color: lightyellow;
}

@media only screen and (min-width: 640px) {
  .welcome-container .col {
    box-sizing: border-box;
    float: left;
  }

  .welcome-left {
    width: 66%;
    border-right: 10px solid white;
  }

  .welcome-right {
    width: 33%;
    border-left: 10px solid white;
  }
}
