{{ welcome_content }}

<div class="welcome-container">
  <div class="col welcome-left">
    <div class="welcome-box">
      <h2>What's New?</h2>
      {{ whats_new }}
   </div>
    <div class="welcome-box">
      <h2>Watched Items</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et ipsum ligula. Vestibulum rhoncus congue erat, a vestibulum dolor consectetur ut. Proin non tempus ipsum. Maecenas viverra, urna nec hendrerit mattis, sem erat sollicitudin quam, vitae tempus justo augue gravida lorem. Vivamus in dictum tellus, ut egestas tortor. Aliquam viverra libero in felis tincidunt, eget semper ante maximus. Nam eget sodales metus, ac aliquam libero. Duis leo nulla, laoreet sit amet felis vel, laoreet cursus augue. Duis pretium accumsan odio id pellentesque. Aliquam erat volutpat. Etiam elit magna, fermentum at hendrerit vitae, dictum at nibh.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et ipsum ligula. Vestibulum rhoncus congue erat, a vestibulum dolor consectetur ut. Proin non tempus ipsum. Maecenas viverra, urna nec hendrerit mattis, sem erat sollicitudin quam, vitae tempus justo augue gravida lorem. Vivamus in dictum tellus, ut egestas tortor. Aliquam viverra libero in felis tincidunt, eget semper ante maximus. Nam eget sodales metus, ac aliquam libero. Duis leo nulla, laoreet sit amet felis vel, laoreet cursus augue. Duis pretium accumsan odio id pellentesque. Aliquam erat volutpat. Etiam elit magna, fermentum at hendrerit vitae, dictum at nibh.
    </div>
  </div>

  <div class="col welcome-right">
    <div class="welcome-box">
      <h2>Help and Support</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et ipsum ligula. Vestibulum rhoncus congue erat, a vestibulum dolor consectetur ut. Proin non tempus ipsum. Maecenas viverra, urna nec hendrerit mattis, sem erat sollicitudin quam, vitae tempus justo augue gravida lorem. Vivamus in dictum tellus, ut egestas tortor. Aliquam viverra libero in felis tincidunt, eget semper ante maximus. Nam eget sodales metus, ac aliquam libero. Duis leo nulla, laoreet sit amet felis vel, laoreet cursus augue. Duis pretium accumsan odio id pellentesque. Aliquam erat volutpat. Etiam elit magna, fermentum at hendrerit vitae, dictum at nibh.
    </div>
  </div>
</div>

